# See https://help.github.com/ignore-files/ for more about ignoring files.

# firebase adminsdk
firebase-adminsdk.json
database.rules.json
env.config
/src/firebase
/src/cloudinary
src/firebase
src/cloudinary

# dependencies
/node_modules
/functions/node_modules
/firebase-admin
admin-envconfig.json

# testing
/coverage

# production
/build

# misc
.DS_Storegit
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
