/*@media only screen and (min-width: 1200px) {*/
    /*.ui-media {*/
        /*width: 1127px;*/
    /*}*/
/*}*/

form label {
    display: block;
}

.no-pad {
    padding: 0 !important;
}

page {
    margin-top: 68.5px;
}